<!-- Page Content -->
<div class="container">
    <% if @server == 'all'%>
      <div class="row">
        <div class="col-md-12">
          <div class = "alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden = "true">
            &times;
            </button>
           <strong>Where is my Suad?</strong> is a website where you can find other PUBG players who want to play with teammates!<br>
           <br><strong>How to use?</strong><br>
           <strong>1)</strong> Add yourself as a player.<br>
           <strong>2)</strong> Choose your server and look for players who added themselves.<br>
                   That's it!<br><br>

            Your entry will be <strong>deleted after 6 hours</strong>, so if you want to find more players later, just repeat the process!
          </div>
        </div>
      </div>
    <% end %>
    <!-- Page Header -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Players
              <small>
                <% if @server == 'all'%>
                  <b>
                <% end %>
                <a href="/players">All Servers</a>
                <% if @server == 'all'%>
                  </b>
                <% end %>
              </small>
                <small> | </small>
                <small>
                  <% if @server == 'NA'%>
                    <b>
                  <% end %>
                  <a href="/players/NA">NA</a>
                  <% if @server == 'NA'%>
                    </b>
                  <% end %>
                </small>
                <small> | </small>
                <small>
                  <% if @server == 'EU'%>
                    <b>
                  <% end %>
                  <a href="/players/EU">EU</a>
                  <% if @server == 'EU'%>
                    </b>
                  <% end %>
                </small>
                <small> | </small>
                <small>
                  <% if @server == 'SA'%>
                    <b>
                  <% end %>
                  <a href="/players/SA">SA</a>
                  <% if @server == 'SA'%>
                    </b>
                  <% end %>
                </small>
                <small> | </small>
                <small>
                  <% if @server == 'AS'%>
                    <b>
                  <% end %>
                  <a href="/players/AS">AS</a>
                  <% if @server == 'AS'%>
                    </b>
                  <% end %>
                </small>
                <small> | </small>
                <small>
                  <% if @server == 'OC'%>
                    <b>
                  <% end %>
                  <a href="/players/OC">OC</a>
                  <% if @server == 'OC'%>
                    </b>
                  <% end %>
                </small>
                <small class="pull-right">
                  <a class="btn btn-success"
                  href="/players/new" role="button">Add yourself as a player!</a>
                </small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <% @players.each_slice(3) do |players| %>
    <div class="row">
        <% players.each do |player| %>
        <div class="col-sm-4 portfolio-item">
            <!--<a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>-->
            <h3>
                <a target="_blank" href=<%= player.steam_link %>><%= player.nick %></a>
            </h3>
            <p><b>Server: </b><%= player.server %></p>
            <p class="line"><%= player.description %></p>
        </div>
        <% end %>
    </div>
    <% end %>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <%= will_paginate @players, renderer: BootstrapPagination::Rails %>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-6">
                <p>Copyleft | Where is my Squad?</p>
            </div>
            <div class="col-lg-6">
              <p align="right">This website is 
                <a href="https://github.com/matheus-manoel/Where-is-My-Squad-"> open source! </a>
                <i class="fa fa-github fa-2x" aria-hidden="true"></i></p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
