<%= provide(:title, 'Add Player') %>

<h1 align="center">Add Player</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@player) do |f| %>
      <div id="error_explanation">
        <% if @player.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

            <ul>
            <% @player.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>

        <%= f.label :steam_link %>
        <%= f.text_field :steam_link, class: "form-control" %>

        <%= f.label :nick %>
        <%= f.text_field :nick, class: "form-control" %>

        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>

        <%= f.label :server %>
        <%= f.select :server, [["NA", "NA"],
                              ["EU", "EU"],
                              ["SA", "SA"],
                              ["OC", "OC"],
                              ["AS", "AS"]], { class: "selectpicker" } %>

        <br>

        <div align="center">
          <%= f.submit "Add", class:"btn btn-success" %>
        </div>

      <% end %>
    </div>
</div>
